{% load static %}
{% csrf_token %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | MyHairCare</title>
{#     <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">#}
    <link rel="icon" href="/media/site_page_stuffs/favicon.ico" type="image/icon type">
{#    <link rel="icon" href="/media/site_page_stuffs/logo32.png" type="image/icon type">#}
    {#    <link rel="shortcut icon" href="/media/site_page_stuffs/favicon.ico" type="image/x-icon">#}
    <link rel="stylesheet" type="text/css" href="{% static 'main_site/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main_site/user_home.css' %}">
</head>
<body>
<div class="cc1">
    <div class="user_home_tmp_div">
        <div style="text-align: center">
            <img width="310" height="200" src="/media/site_page_stuffs/start_survey.png" alt="Start Survey">
        </div>
    <div class="intro_survey_txt">
        Please enter your data as of at least two years before, and at the final step of survey, enter Yes if you have hair fall problem at present.
    </div>
    <div style="text-align: center;">
        <a href="{% url 'dr_survey' %}" title="Start Survey">
            <button class="btn1">
                <div class="back_btn_11">
                    <div class="back_btn_22">
                        <div class="txt_back">
                            Start Survey
                        </div>
                        <div class="bac_svg">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M256 0C114.6 0 0 114.6 0 256c0 141.4 114.6 256 256 256s256-114.6 256-256C512 114.6 397.4 0 256 0zM406.6 278.6l-103.1 103.1c-12.5 12.5-32.75 12.5-45.25 0s-12.5-32.75 0-45.25L306.8 288H128C110.3 288 96 273.7 96 256s14.31-32 32-32h178.8l-49.38-49.38c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l103.1 103.1C414.6 241.3 416 251.1 416 256C416 260.9 414.6 270.7 406.6 278.6z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </button>
        </a>
    </div>
</div>
</div>


</body>
<script type="text/javascript" src="{% static 'main_site/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'main_site/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'main_site/user_home.js' %}"></script>
</html>