{% load static %}
{% csrf_token %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login | MyHairCare</title>
    <link rel="icon" href="/media/site_page_stuffs/logo32.png" type="image/icon type">
    {#    <link rel="shortcut icon" href="/media/site_page_stuffs/favicon.ico" type="image/x-icon">#}
    <link rel="stylesheet" type="text/css" href="{% static 'main_site/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'main_site/login.css' %}">
</head>
<body>
<main>
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-1 col-md-2 col-lg-3">
                </div>
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <div class="main_row">
                        <div class="main_col">
                            <div class="main_content_div">
                                <div class="all_head_err">
                                    <div class="login_header_div">
                                        <div class="login_header">
                                            <svg id="OBJECTS" viewBox="0 0 228.5 182.83">
                                                <defs>
                                                    <style>.cls-1 {
                                                        fill: url(#Безымянный_градиент_4);
                                                    }

                                                    .cls-2 {
                                                        fill: url(#Безымянный_градиент_4-2);
                                                    }

                                                    .cls-3 {
                                                        fill: url(#Безымянный_градиент_4-3);
                                                    }

                                                    .cls-4 {
                                                        font-size: 60px;
                                                        fill: #6027bc;
                                                        font-family: ComicSansMS, Comic Sans MS;
                                                    }

                                                    .cls-5 {
                                                        fill: #4ca3a6;
                                                    }</style>
                                                    <linearGradient id="Безымянный_градиент_4" x1="35.44" y1="55.28"
                                                                    x2="262.75"
                                                                    y2="55.28" gradientUnits="userSpaceOnUse">
                                                        <stop offset="0.22" stop-color="#4ca3a6"></stop>
                                                        <stop offset="0.66" stop-color="#6027bc"></stop>
                                                        <stop offset="1"></stop>
                                                    </linearGradient>
                                                    <linearGradient id="Безымянный_градиент_4-2" x1="34.84" y1="81.75"
                                                                    x2="262.16" y2="81.75"
                                                                    xlink:href="#Безымянный_градиент_4"></linearGradient>
                                                    <linearGradient id="Безымянный_градиент_4-3" x1="34.25" y1="108.21"
                                                                    x2="261.56" y2="108.21"
                                                                    xlink:href="#Безымянный_градиент_4"></linearGradient>
                                                </defs>
                                                <path class="cls-1"
                                                      d="M36.39,42.66c9.51,5,18.3,10.58,27.48,14.39a94.51,94.51,0,0,0,13.67,5.07c2.32.63,4.62,1.27,6.94,1.81s4.65,1,7,1.37a99.54,99.54,0,0,0,27.55.89,90.57,90.57,0,0,0,13.32-2.5,96.65,96.65,0,0,0,13-4.32,125.88,125.88,0,0,0,12.82-5.91c2.13-1.07,4.25-2.23,6.37-3.43l6.52-3.8c9-5.28,19.5-11,31.25-13.68a68.67,68.67,0,0,1,8.88-1.42,54.46,54.46,0,0,1,8.95-.25A66.82,66.82,0,0,1,237.48,34a56.72,56.72,0,0,1,15.37,7.92A35.2,35.2,0,0,1,259.1,48a18.48,18.48,0,0,1,3.65,7.79l-1.31.54c-2.08-4.54-6.41-7.73-10.87-10.06A55,55,0,0,0,236,41.49a62.3,62.3,0,0,0-30.34,1.88,83.44,83.44,0,0,0-14.12,6.09c-4.53,2.46-8.9,5.23-13.27,8.06a158.12,158.12,0,0,1-27.66,15,100.12,100.12,0,0,1-30.75,7.07,96.88,96.88,0,0,1-31.35-3.31A102,102,0,0,1,59.76,63.54c-8.85-5.73-16.69-12.75-24.32-19.83Z"
                                                      transform="translate(-34.25 -30.8)"></path>
                                                <path class="cls-2"
                                                      d="M35.79,69.12c9.52,5,18.31,10.58,27.49,14.4a94.77,94.77,0,0,0,13.66,5.06c2.32.63,4.62,1.28,6.94,1.81s4.66,1,7,1.37a99.16,99.16,0,0,0,27.55.89,87.79,87.79,0,0,0,13.32-2.5,95.27,95.27,0,0,0,13-4.32,124.8,124.8,0,0,0,12.82-5.9c2.14-1.08,4.26-2.24,6.37-3.43l6.52-3.8c9-5.29,19.5-11,31.26-13.68a66.6,66.6,0,0,1,8.87-1.43,55.74,55.74,0,0,1,9-.25,66.82,66.82,0,0,1,17.32,3.11,56.87,56.87,0,0,1,15.37,7.92,35.5,35.5,0,0,1,6.24,6.07,18.55,18.55,0,0,1,3.66,7.79l-1.31.54c-2.09-4.53-6.41-7.73-10.88-10A54.38,54.38,0,0,0,235.43,68a62.26,62.26,0,0,0-30.33,1.87A82.69,82.69,0,0,0,191,75.93c-4.53,2.46-8.9,5.23-13.28,8.06A157.36,157.36,0,0,1,150,99a100,100,0,0,1-30.75,7.07,96.88,96.88,0,0,1-31.35-3.31A101.52,101.52,0,0,1,59.16,90c-8.85-5.72-16.69-12.74-24.32-19.83Z"
                                                      transform="translate(-34.25 -30.8)"></path>
                                                <path class="cls-3"
                                                      d="M35.2,95.59c9.51,5,18.31,10.58,27.48,14.39a95,95,0,0,0,13.67,5.07c2.32.63,4.62,1.27,6.94,1.81s4.66,1,7,1.37a99.92,99.92,0,0,0,27.55.89,90.57,90.57,0,0,0,13.32-2.5,96.65,96.65,0,0,0,13-4.32A125.88,125.88,0,0,0,157,106.39c2.13-1.07,4.25-2.23,6.37-3.43l6.52-3.8c9-5.28,19.5-11,31.25-13.68A68.67,68.67,0,0,1,210,84.06a54.49,54.49,0,0,1,8.95-.25,66.82,66.82,0,0,1,17.32,3.11,56.93,56.93,0,0,1,15.38,7.92,35.48,35.48,0,0,1,6.24,6.07,18.48,18.48,0,0,1,3.65,7.79l-1.31.54c-2.08-4.54-6.4-7.73-10.87-10.06a54.86,54.86,0,0,0-14.54-4.76A62.3,62.3,0,0,0,204.5,96.3a82.64,82.64,0,0,0-14.12,6.09c-4.53,2.46-8.9,5.23-13.27,8.06a158.12,158.12,0,0,1-27.66,15,100.05,100.05,0,0,1-30.75,7.07,96.89,96.89,0,0,1-31.35-3.32,101.77,101.77,0,0,1-28.78-12.73c-8.85-5.73-16.69-12.75-24.32-19.83Z"
                                                      transform="translate(-34.25 -30.8)"></path>
                                                <text class="cls-4" transform="translate(7.73 164.11)">My
                                                    <tspan class="cls-5" x="84.2" y="0">Hair</tspan>
                                                </text>
                                            </svg>
                                        </div>
                                    </div>
                                    {% if messages %}
                                        <div id="err_div"
                                                {% for message in messages %}
                                                    {% if 'success' in message.tags %}
                                                        class="alert alert-success"
                                                    {% endif %}
                                                    {% if 'error' in message.tags %}
                                                        class="alert alert-danger"
                                                    {% endif %}>
                                                    {{ message }}
                                                {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>


                                <form method="POST" enctype="multipart/form-data" role="form">
                                    {% csrf_token %}
                                    <div class="login_contents">
                                        <input type="text" name="lic_num" placeholder="Licence Number"
                                               class="login_fields"
                                               id="nmc_num">
                                        <div>
                                            <input type="password" name="password" placeholder="Password"
                                                   class="login_fields"
                                                   id="password">
                                            <i id="togglePassword">
                                                <svg width="16" height="16" id="eye" style="display: inline"
                                                     fill="currentColor" class="bi bi-eye"
                                                     viewBox="0 0 16 16">
                                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                </svg>
                                                <svg width="16" height="16" id="eye_s" style="display: none"
                                                     fill="currentColor" class="bi bi-eye-slash"
                                                     viewBox="0 0 16 16">
                                                    <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                                                    <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                                                    <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                                                </svg>
                                            </i>
                                        </div>
                                    </div>
                                    <div class="login_footer">
                                        <div class="footer_content">
                                            <button type="reset" class="btn1">Cancel</button>
                                            <button type="submit" class="btn1">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1 col-md-2 col-lg-3">
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<script type="text/javascript" src="{% static 'main_site/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'main_site/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'main_site/login.js' %}"></script>
</html>